.menuCl {
    display: flex;
    flex-direction: row;
}

#currentPlaceWeatherId {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: 200px;
    width: 200px;
    background-image: url("location-pic.png");
    background-size: cover;
    cursor: pointer;
}

.btn {
    height: 30px;
}


#citySearchId { 
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.mainPageText {
    color:white;
    text-align:center;
    padding-top: 100px;
    width: 150px;
    height: 25px;
}

#user-input {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px; 
    width: 230px;
}

a {
    color: white !important;
}

.container1 {
    display: block;
    position: absolute;
    height: 680px;
    width: calc(100% - 3em);
    width:100%;
    text-decoration-color: white;
    background: url('/gifs/1.gif');
    background-repeat: no-repeat;
    text-decoration-color: black;
    background-color: black;
    background-position:center;
    background-size: cover;
    transition: background 1s linear;
    transition-delay: 2s;
}

.row {
    height: 100%;
    display: flex;
    align-content: center;
}

.weatherInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height:500px;
    left: 50px; 
}

.mainText {
    font-size: 40px;
    color: white;
    font-family: 'Acme', sans-serif;
}
 
.titleCl {
    padding-top: 20px; 
    padding-bottom: 5px; 
    padding-left: 35px; 
    color:white; 
    font-family: 'Acme', sans-serif; 
    font-size: 50px;
}

#fiveDaysForecastId > li {
    width: 20%;
    background: rgba(0, 0, 0, 0.5);
    text-decoration-color: black;
    font-family: 'Acme', sans-serif;
    font-size: 20px;
    border: none !important;
    border-radius: 0 !important;
}

#userInputDivId {
    display: flex;
    flex-direction: row;
    width: 200px;
}

#mainPageDivId {
    height: 20px;
    display: inline-block;
    align-content: center;
}

.input-group {
    display: flex;
    flex-direction: row;
    height: 30px;
}

.inputCl {
    display: block;
    align-self: center;    
    padding-top: 20px;
/*    padding-left: 10%;*/
    width:40%;
    flex-direction: column;
    color: white;
}
    
.firstDiv {
    width: 97%;
    height: 550px;
    margin-top: 20px; 
    margin-left: auto; 
    margin-right: auto; 
    display: flex;
    align-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.outputCl {
    font-size: 15px;
    color: white;
    display: flex;
    text-shadow: 2px 2px black;
    justify-content: center;
    font-family: 'Acme', sans-serif;
}

.outputDiv {
    padding-top: 30px;
}

.thumbDiv {
    padding-top: 30px;
    display: flex;
    position: relative;  
    justify-content: center;
}

.nav-tabs {
    border: 0 !important;
}

.nav>li>a:focus {
    background-color: #0000004f !important;
    border: none !important;
}

.nav>li>a:hover {
    background-color: #0000004f !important;
    border: none !important;
}

.navbar {
    padding-left: 1%;
    padding-right: 1%;
    height: 40px;
    color:white;
    background-color: black;
    border-radius: 0 !important;
}   

.navbar-brand {
    font-family: 'Acme', sans-serif;
}

.navbar-brand:hover {
    cursor: pointer;
}

#thumb {
    height: 200px;
    width: 200px;
}

input#user-input {
    height: 30px;
}

.bottomDivCl {
    display: block;
    position: relative;
    height: 30px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.bottomTextCl {
    text-align: center;
    color: white;
}

.fiveDaysForecastId {
    font-family: cursive;
    color:black;
}